.review-h1 {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.rating {
  display: none;
}

.review-form {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}

.review-label {
  display: flex;
  justify-content: center;
}

.review-button {
  margin-left: 150px;
}