.review-h1 {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.rating {
  display: none;
}

.review-form {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  margin: 10px 20px 10px 20px;
}

.review-label {
  display: flex;
  justify-content: center;
}

.review-button {
  margin: 10px 25px 10px 25px;
}