div {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.home-link {
  padding-top: 10px;
  padding-left: 100px;
}

.create-spot-button {
  width: 150px;
}

.navigation-profile-button {
  padding-right: 100px;
}

.hidden {
  visibility: hidden;
}

.navigation-w-user {
  display: grid;
  grid-template-columns: 9.75fr 1.25fr 1fr;
  justify-content: space-between;
  border-bottom: solid 2px black;
  padding-bottom: 8px;
}

.navigation-wo-user {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  border-bottom: solid 2px black;
  padding-bottom: 8px;

}