.hidden {
  display: none;
}


.menu-icon {
  width: 35px;
  height: 30px;
}

.logs {
  width: 80px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.profile-dropdown {
  list-style-type: none;
}

.menu-buttons {
  display: flex;
  flex-flow: column wrap-reverse;
}

.menu-position {
  display: flex;
  flex-flow: column wrap-reverse;
}

.demo-log {
  height: 25px;
}